/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/invoice_logos
/public/uploads/UltimatePOS
